<header class="header">
    <div class="this_title">
        <div></div>
        <h1>{{currentName}}</h1>
        <div></div>
    </div>
</header>

<section class="mod_wrapper">
    <div class="mod_login_input">
        <ul>
            <li>
                <label>账号</label>
                <input type="text" ng-model="tInput.UserName" placeholder="用户名" value="" />
            </li>
            <li>
                <label>密码</label>
                <input type="password" ng-model="tInput.Password" placeholder="请输入密码" value="" />
            </li>
        </ul>
    </div>


    <a class="mod_btn_01" ng-click="setLogin()">登录</a>
</section>