.mod_list_01 {
    border-bottom: 20px solid #eee;
    li {
        &:nth-child(1) {
            @include border-half($type: y);
        }
        @include border-half($type: bottom);
        @include box();
        div {
            padding: 10px 5px;
            &:nth-child(1) {
                width: 130px;
                @include border-half($type: right);
            }
            &:nth-child(2) {
                // @include multi_ellipsis(1);
                font-size: 12px;
                color: #666;
                -webkit-box-flex: 1;
            }
        }
    }
}


.mod_list_02 {
    li {
        &:nth-child(1) {
            @include border-half($type: y);
        }
        padding: 10px;
        line-height: 20px;
        color: #666;
        font-weight: normal;
        @include border-half($type: bottom);
    }
}

.mod_list_03 {
    border-bottom: 10px solid #eee;
    li {
        display: block;
        // display: -webkit-box;
        @include box();
        @include border-half($type: all);
        &:first-child {
            @include border-half($type: y);
        }
        div {
            padding: 10px;
            width: 0;
            -webkit-box-flex: 1;
            p {
                &:nth-child(2) {
                    color: #999;
                    font-size: 12px;
                }
            }
            &:nth-child(2) {
                @include border-half($type: left);
            }
        }
    }
}


.mod_detail {
    dl {
        dt {
            line-height: 30px;
            padding: 10px;
            position: relative;
            @include border-half($type: all);
            &:first-child {
                @include border-half($type: y);
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 30px;
                top: 20px;
                width: 10px;
                height: 10px;
                vertical-align: middle;
                border-left: 2px solid #fe8c00;
                border-bottom: 2px solid #fe8c00;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transform: rotate(-45deg);
            }
            &.show:after {
                top: 25px;
                -webkit-transform: rotate(-225deg);
            }
        }
        dd {
            background: #f8f8f8;
            // display: -webkit-box;
            @include box();
            @include border-half($type: all);
            div {
                width: 50%;
                -webkit-box-flex: 1;
                padding: 10px;
                &:nth-child(1) {
                    @include border-half($type: right);
                }
            }
        }
    }
}



.detail_bottom_menu {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    z-index: 100;
    width: 100%;
    background: rgba(254, 140, 0, 0.92);

    .this_menu {
        height: 50px;
        // display: -webkit-box;
        @include box();
        li {
            width: 0;
            color: #fff;
            text-align: center;
            padding-top: 27px;
            position: relative;
            cursor: pointer;
            -webkit-box-flex: 1;
            &:after,
            &:before {
                position: absolute;
                display: block;
                content: "";
                left: 50%;
            }
            &:before {
                top: 8px;
                margin-left: -8px;
                width: 15px;
                height: 15px;
                border: 1px solid #fff;
                -webkit-border-radius: 16px;
            }
            &.current {
                &:after {
                    top: 13px;
                    margin-left: -3px;
                    width: 6px;
                    height: 2px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: transparent transparent #fff #fff;
                    -webkit-transform: rotate(-45deg);
                }
            }
        }
    }

    .this_list {
        position: absolute;
        right: 0;
        bottom: 50px;
        background: rgba(254, 140, 0, 0.92);
        li {
            line-height: 40px;
            padding: 0 20px;
            color: #fff;
            @include border-half($type: bottom);
        }
    }
}


