.header{
    position: fixed;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
    // background: $yellow;
    background: -webkit-linear-gradient(top, $yellow, #ffc925);
    color: #fff;
    z-index: 100;

    .this_title {
        height: 44px;
        display: -webkit-box;
        -webkit-box-align: center;
        div:nth-child(1):before,
        h1.list:after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            vertical-align: middle;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        div{
            width: 40px;
            text-align: center;
            &:nth-child(1):before {
                -webkit-transform: rotate(45deg);
            }
        }
        h1 {
            display: block;
            text-align: center;
            font-size: 16px;
            -webkit-box-flex: 1;
            &.list {
                &:after {
                    -webkit-transform: rotate(-45deg);
                    margin-top: -7px;
                    margin-left: 5px;
                }
            }
        }  
    }

    ul {
        width: 100px;
        position: absolute;
        left: 50%;
        top: 40px;
        z-index: 3;
        margin-left: -50px;
        background: rgba(0, 0, 0, .9);
        li {
            line-height: 40px;
            font-size: 14px;
            font-weight: normal;
            text-indent: 10px;
            cursor: pointer;
            @include border_bottom_half;
        }
    }
}