.mod_list {
    padding: 0 10px 10px;
    a {
        display: block;
        @include border_bottom_half;
        padding: 5px 20px 5px 0;
        position: relative;
        &:first-child {
            @include border_vertical_half;
        }
        &:after {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -7px;
            display: block;
            width: 10px;
            height: 10px;
            content: "";
            border-width: 2px;
            border-style: solid;
            border-color: $yellow $yellow transparent transparent;
            -webkit-transform: rotate(45deg);
        }
        div {
            display: -webkit-box;
            i,
            article {
                display: block;
                font-style: normal;
            }
            i {
                width: 50px;
            }
            article {
                color: #aaa;
                -webkit-box-flex: 1;
            }
        }
    }
}

.list_bottom_menu {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    z-index: 100;
    width: 100%;
    display: -webkit-box;
    background: rgba(254, 140, 0, 0.9);
    li {
        width: 0;
        color: #fff;
        text-align: center;
        padding-top: 27px;
        position: relative;
        -webkit-box-flex: 1;
        &:after,
        &:before {
            position: absolute;
            display: block;
            content: "";
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
            &:before {
                left: 50%;
                top: 9px;
                margin-left: -8px;
                width: 15px;
                height: 15px;
                border: 1px solid #fff;
                -webkit-border-radius: 15px;
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            &:after {
                border-style: solid;
                border-width: 1px;
                border-color: transparent transparent #fff #fff;

                left: 50%;
                top: 14px;
                margin-left: -4px;
            }
        }

        &:nth-child(1) {
            &:after {
                width: 8px;
                height: 3px;
                -webkit-transform: rotate(-45deg);
            }
        }

        &:nth-child(2) {
            &:after {
                width: 5px;
                height: 2px;
                -webkit-transform: rotate(-90deg);
            }
        }

        &:nth-child(3),
        &:nth-child(3) span {
            &:before,
            &:after {
                width: 6px;
                height: 6px;
                border: 1px solid #fff;
                position: absolute;
                top: 9px;
            }
            &:before {
                left: 50%;
                margin-left: -9px;
            }
            &:after {
                left: 50%;
                margin-left: 1px;
            }
        }
        &:nth-child(3) span {
            &:before,
            &:after {
                position: absolute;
                display: block;
                content: "";
                top: 19px;
            }
        }

        &.current {
            i {
                position: absolute;
                left: 50%;
                top: 0;
                width: 0;
                height: 0;
                overflow: hidden;
                margin-left: -6px;
                border-style: solid;
                border-width: 6px;
                border-color: #fff transparent transparent transparent;
            }
        }
    }
}