// 账号绑定
.mod_login_input {
    padding: 0 10px 10px;
    ul {
        @include border_half;
        li {
            line-height: 40px;
            border-bottom: 0;
            display: -webkit-box;

            @include border_bottom_half;
            &:last-child {
                border-bottom: 0;
            }

            label {
                display: block;
                width: 60px;
                text-align: center;
            }
            input {
                display: block;
                border: 0;
                outline: none;
                line-height: 40px;
                -webkit-box-flex: 1;
            }
        } 
    }
}